<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Touchdown" value="https://microsoft.pkgs.visualstudio.com/_packaging/MSFTNuget/nuget/v3/index.json" />
    <add key="AppModel.TestHelper" value="https://microsoft.pkgs.visualstudio.com/_packaging/AppModel.TestHelper/nuget/v3/index.json" />
    <add key="MitaLite" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/MitaLite/nuget/v3/index.json" />
    <add key="Taef" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/Taef/nuget/v3/index.json" />
    <add key="Test.Net" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/Test.Net/nuget/v3/index.json" />
    <add key="Xes" value="https://microsoft.pkgs.visualstudio.com/_packaging/Xes/nuget/v3/index.json" />
    <add key="Wil" value="https://microsoft.pkgs.visualstudio.com/_packaging/MSFTNuget/nuget/v3/index.json" />
    <add key="Microsoft.Packaging.SDKUtils" value="https://microsoft.pkgs.visualstudio.com/_packaging/c1408dcb-1833-4ae4-9af5-1a891a12cc3c/nuget/v3/index.json" />
  </packageSources>
  <config>
    <clear />
    <add key="dependencyversion" value="Highest" />
    <add key="globalPackagesFolder" value="..\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
